* {
  box-sizing: border-box;
  /* border: thin solid red; */
}

/* #main {
  display: grid;
  grid-template-areas:  'h h h h'
                        'l c c r'
                        'l c c r'
                        'f f f f';
}

#header {
  grid-area: h;
}

#left-menu {
  grid-area: l;
}

#content {
  grid-area: c;
}

#right-menu {
  grid-area: r;
}

#footer {
  grid-area: f;
} */


#main1 {
  position: relative;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.bandera {
  border-radius: 10%;
  grid-area: p;
  height: 135px;
  width: 250px;
  display: block;
  margin: auto;
}




.img {
  /* width: 96%; */
  margin-left: 5px;
  margin-right: 5px;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.piloto {
  width: 100%;
}

.escudo {
  height: 150px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.escudomercedes {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 60px;
}

.escudoastonmartin {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 35px;
}

.escudoalfaromeo {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 45px;
}

.escudohaas {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.itemmercedes {
  border: 5px solid #01b0a9;
  background-color: #252a30;
  color: #01b0a9;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemredbull {
  border: 5px solid #e5041d;
  background-color: #01182a;
  color: #e5041d;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemferrari {
  border: 5px solid #000000;
  background-color: #ff1520;
  color: #fef200;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemmclaren {
  border: 5px solid #012989;
  background-color: #f48500;
  color: #012989;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemalpine {
  border: 5px solid #02192b;
  background-color: #0448d4;
  color: #fdfbfe;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemalphatauri {
  border: 5px solid #011321;
  background-color: #011321;
  color: #fefdfe;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemastonmartin {
  border: 5px solid #b12753;
  background-color: #00594f;
  color: #f5fdfc;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemwilliams {
  border: 5px solid #18191b;
  /* background-color: #0311b9; */
  background-color: #061e42;
  color: #f1f1f1;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemalfaromeo {
  border: 5px solid #a50f38;
  background-color: #a50f38;
  color: #f8f0f4;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.itemhaas {
  border: 5px solid #de251b;
  background-color: #ffffff;
  color: #de251b;
  border-radius: 5%;
  overflow: hidden;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.nombremercedes {
  color: #01b0a9;
  margin-left: 10px;
  margin-right: 5px;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.nombreredbull {
  color: #fcd800;
  margin-left: 10px;
  margin-right: 5px;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.nombreferrari {
  color: #fcd800;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.nombremclaren {
  color: #012989;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}

.nombrealpine {
  color: #fdfbfe;
  margin-left: 5px;
  margin-right: 5px;
  src: url(letra/Formula1-Regular.ttf);
  font-family: Formula1-Regular;
}

.nombrealphatauri {
  color: #fefdfe;
  margin-left: 5px;
  margin-right: 5px;
  src: url(letra/Formula1-Regular.ttf);
  font-family: Formula1-Regular;
}

.nombreastonmartin {
  color: #f5fdfc;
  margin-left: 5px;
  margin-right: 5px;
  src: url(letra/Formula1-Regular.ttf);
  font-family: Formula1-Regular;
}

.nombrewilliams {
  color: #f1f1f1;
  margin-left: 5px;
  margin-right: 5px;
  src: url(letra/Formula1-Regular.ttf);
  font-family: Formula1-Regular;
}

.nombrealfaromeo {
  color: #f8f0f4;
  margin-left: 5px;
  margin-right: 5px;
  src: url(letra/Formula1-Regular.ttf);
  font-family: Formula1-Regular;
}

.nombrehaas {
  color: #0033a0;
  margin-left: 5px;
  margin-right: 5px;
  src: url(letra/Formula1-Regular.ttf);
  font-family: Formula1-Regular;
}

@font-face {
  font-family: Formula1-Regular;
  src: url(letra/Formula1-Regular.ttf);
}
